.top-left {
  display:block;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  overflow-y:auto;
  overflow-x: hidden;
  max-height: 850px;
  max-width: 250px;
}

#root3 {
  padding-right: 30px;
}

#info {
  display:block;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
  overflow-y:auto;
  overflow-x: hidden;
  max-height: 850px;
  max-width: 1500px;

  align-items: center;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .4;
}

.link:hover {
  stroke-opacity: .9;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  margin-top: 1px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: lightgray;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
